<main>

  <div>
    <h2 class="titulo"> PREGUNTAS <b>FRECUENTES</b> </h2>
  </div>

  <div class="preguntas">
    <p class="introduccion container">
      Despues de mas de 30 años trabajando en el sector de los empaques para exportación, hemos identificado algunas de las preguntas mas frecuentes que surgen por parte de empresas interesadad o por parte de nuestros; a continuación procedemos a dar respuesta a algunas de ellas.
    </p>
    <br>
  </div>
   
  <div>
    <ul id="accordion" class="container">
      <li>
        <label for="first">¿La madera de nuestros productos cuenta con certificación de tratamiento fitosanitario para exportación?<span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="first" checked>
        <div class="content">
          <p>Todos nuestros productos reciben tratamiento térmico fitosanitario en nuestras instalaciones. Nuestra compañía cuenta con su propia cámara de tratamiento térmico para garantizar una adecuada aplicación del proceso, disponibilidad exclusiva para nuestros clientes y la ejecución del proceso bajo custodia de personal calificado.
          <br>
          Adicionalmente contamos con la respectiva resolución emitida por ICA que tiene vigencia de 5 años en la actualidad y la cual se debe exigir a toda empresa que ofrezca el servicio de tratamiento térmico fitosanitario
          </p>
        </div>
      </li>
      <li>
        <label for="second">¿Mudar de Colombia ofrece entregas en otras ciudades de Colombia?<span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="second">
        <div class="content">
          <p>Actualmente suministramos nuestros productos y servicios sin costo en Bogotá, Sabana Occidental (salida por calle 80), Sabana Norte (salida autopista norte) y otros municipios aledaños como Soacha. Para clientes nacionales les ofrecemos la entrega en nuestras instalaciones ubicadas en Madrid-Cundinamarca donde con nuestro equipo de trabajo cargaremos el producto al vehículo asignado por el cliente previa validación de la unidad de carga.</p>
        </div>
      </li>
      <li>
        <label for="third">¿Mudar de Colombia ofrece estibas plásticas?<span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="third">
        <div class="content">
          <p>Dado los altos costos de las estibas plásticas y su uso habitual en exportación de una única vez (sin retorno) nuestra compañía no incluye habitualmente este producto dentro de su catálogo.</p>
        </div>
      </li>
      <li>
        <label for="fourth">¿Mudar de Colombia maneja certificado forestal de su madera?<span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="fourth">
        <div class="content">
          <p>Nuestra compañía corresponde a una industria de transformación madera de nivel secundario y cumple con la normatividad y documentación exigida a su nivel como lo es el certificado de movilización de maderas durante la compra de su materia prima y gestión de su libro de operaciones forestales (regulado por la CAR)
          <br>
          Adicionalmente dentro de su proceso productivo ha tomado la decisión de comprar solo maderas provenientes de cultivos forestales.
          <br>
          Finalmente, la empresa recibe periódicamente visitas o auditorias de funcionarios de la Corporación Autónoma Regional (CAR) o el Instituto Colombiano Agropecuario (ICA).
          </p>
        </div>
      </li>
      <li>
        <label for="fifth">¿Mudar suministra estibas recuperadas en alto volumen?<span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="fifth">
        <div class="content">
          <p>Contamos con una cadena de proveedores para abastecimiento de estibas recuperadas, principalmente de estibas tipo Europallete (120 cm X 80 cm). Estas se comercializan en lotes hasta de 120 unidades y contamos con una línea de estibas económicas para abastecer el mercado no cubierto.
          </p>
        </div>
      </li>
    </ul>
  </div>
  

</main>
