<main>
  <div>
    <h3 class="titulo"> NUESTRA <b>HISTORIA</b> </h3>
  </div>

  <div class="container encabezado-nosotros">

    <div class="historia-mudar">
      <p>
        Mudar de Colombia nace en 1985 como una empresa especializada en la realización de mudanzas y bodegaje a nivel nacional. Despues de 8 años de trabajar en dicho sector, y ante los requerimientos de algunos de nuestros clientes mas importantes, decidimos, a pesar de las dificultades que implicaba, dar un giro a nuestro modelo de negocio, y dedicarnos a la manufactura de empaques de madera y cartón para exportaciones, actividad continuamos realizando hasta la fecha. 
      </p>
      <p>
        Despues de mas 30 años en el mercado de empaques y embalajes para exportaciones, somos una de las empresas lider en el sector catracterizando nuestro servicio por cumplir todos los requerimientos legales para exportaciones ajustarnos a las necesidades de nuestros clientes, realizando empaques a la medida y con el cumplimiento de todas las caracteristicas necesarias para garantizar que sus productos llegaran seguros a su lugar de destino.
      </p>
      <p class="emphasize">
        Por que para nosotros, la seguridad de sus mercancias es nuestra prioridad.
      </p>
    </div>
    <div>
      <img class="personal-mudar" src="../../assets/images/personal3.jpg" alt="personal-mudar">
    </div>  
  </div>

  <div>
    <h3 class="titulo">¿POR QUE <b>ELEGIRNOS?</b> </h3>
  </div>
   
  <div class="valor-agregado container">
        <div class="valor-agregado-1">
          <figure>
           <img src="../../assets/images/empaque.png" alt="su-empaque">
          </figure>
          <h4>Empaques personalizados</h4>
          <p>Ofrecemos empaques personalizados para cubrir sus necesidades y expectativa en relación a resistencia, tamaño y materiales.</p>
        </div>

        <div class="valor-agregado-1">
            <figure>
             <img src="../../assets/images/integral.png" alt="su-empaque">
            </figure>
            <h4>Servicio integral</h4>
            <p>Ofrecemos servicios complementarios al suministro de los empaques, incluido el embalaje de sus productos, cargue de contenedores, aseguramiento de maquinaria y asesoría técnica en mejora de empaques.</p>
        </div>

        <div class="valor-agregado-1">
          <figure>
           <img src="../../assets/images/experiencia.png" alt="experiencia">
          </figure>
          <h4>Experiencia a su servicio</h4>
          <p>Nuestros más de 30 años de experiencia en el mercado de empaques para exportaciones nos convierte en el aliado ideal para el manejo integral de sus mercancías, hemos empacado maquinaria hasta de 5 toneladas y en tamaños hasta de 6 metros de longitud</p>
        </div>
  </div>

  <div>
    <h3 class="titulo">NUESTROS CANALES DE <b>CONTACTO</b> </h3>
  </div>

  <div class="contacto container">

    <div class="cardContacto">
      <img class="imagenContacto" src="../../assets/images/handshake.jpg" alt="handShake"> 
      <div class="contenidoContacto">
        <h4 class="tituloContacto">Ventas</h4>
        <p>Si desea conocer mas información acerca de nuestros productos, por favor comuniquese por cualquiera de estos medios, nos comunicaremos con usted a la mayor brevedad posible.</p>
        <p class="contactInfo">Email: info@mudarcolombia mercadeo@mudarcolombia</p>
        <p class="contactInfo">Whastapp: +57 3143562709</p>
      </div>
    </div>

    <div class="cardContacto">
      <img class="imagenContacto" src="../../assets/images/madera.jpg" alt="handShake"> 
      <div class="contenidoContacto">
        <h4 class="tituloContacto">Compras</h4>
        <p>Si usted vende madera en totela o en tablilla, laminas de carton, clavos, grapas o cualquier otro producto relacionado con la manufactura de empaques para exportaciones, comuniquese por cualquiera de estos medios.</p>
        <p class="contactInfo">Email: compras@mudarcolombia.com</p>
        <p class="contactInfo">Whastapp: +57 3125679539</p>
      </div>
    </div>

    <div class="cardContacto">
      <img class="imagenContacto" src="../../assets/images/service.jpg" alt="handShake"> 
      <div class="contenidoContacto">
        <h4 class="tituloContacto">Servicio al cliente</h4>
        <p>Si usted es cliente de Mudar de Colombia y tiene alguna duda relacionada con sus productos o desea presentar alguna felicitación sugerencia, queja o reclamo, comuniquese por cualquiera de estos medios, nos comunicaremos con usted a la mayor brevedad posible. </p>
        <p class="contactInfo">Email: sig@mudarcolombia.com</p>
        <p class="contactInfo">Whastapp: +57 3118080515</p>
      </div>
    </div>

  </div>

</main>
