<main>
    <div class="container title-products">
        <h3>FAMILIA DE <b>ESTIBAS</b></h3> 
    </div>

    <ng-container *ngIf="productsEstibas && productsEstibas.length > 0; then listEstibas; else noEstibas"></ng-container>

    <ng-template #listEstibas>

        <div class="container direction" >
            <div  *ngFor="let product of productsEstibas" >
                <div class="card">
                    <a href="#"><img [src]="product.urlImage" alt=""></a>
                    <h4>{{product.name}}</h4>
                </div>
            </div>

            <div class="pharagrap ">
                
                <p>Producto de bajo costo y gran versatilidad ideal para almacenamiento o movilización de mercancía; como característica
                    principal permite la movilización de mercancía con estibador manual o montacarga; como elemento a considerar es un
                    producto que no cuenta con estructura lateral o en la parte superior por lo cual el producto depende de la protección de
                    su empaque primario. Se recomienda complementar con actividades de embalaje como plastificado y zunchado.</p>
            </div>

        </div>
        

    </ng-template>

    <ng-template #noEstibas>
        <h3>No hay productos de la familia estibas</h3>
    </ng-template>

    <div class="container title-products">
        <h3>FAMILIA DE <b>HUACALES</b></h3> 
    </div>

    <ng-container *ngIf="productsHuacales && productsHuacales.length > 0; then listHucales; else noHuacales "></ng-container>

    <ng-template #listHucales>

        <div class="container direction" >
            <div  *ngFor="let product of productsHuacales" >
                <div class="card">
                    <a href="#"><img [src]="product.urlImage" alt=""></a>
                    <h4>{{product.name}}</h4>
                </div>
            </div>

            <div class="pharagrap ">
                <p>Empaque de buena resistencia estructural a costo medio ideal para el embalaje de productos como canecas, garrafas y
                    repuestos de vehículos entre otros; como característica principal se puede variar la cantidad de tablas horizontales de la
                    estructura según tamaño de la mercancía; como elemento a considerar las piezas o mercancía más pequeñas requieres
                    utilización de huacales totalmente cerrados. Este producto se puede complementar con recubrimiento de cartón y
                    plastificado.</p>
            </div>

        </div>

    </ng-template>

    <ng-template #noHuacales>
        <h3>No hay productos de la familia estibas</h3>
    </ng-template>



    <div class="container title-products">
        <h3 id="productos">FAMILIA DE <b>CAJAS</b></h3> 
    </div>

    <ng-container *ngIf="productsCajas && productsCajas.length > 0; then listCajas; else noCajas "></ng-container>

    <ng-template #listCajas>
       
        <div class="container direction" >
            <div  *ngFor="let product of productsCajas" >
                <div class="card">
                    <a href="#"><img [src]="product.urlImage" alt=""></a>
                    <h4>{{product.name}}</h4>
                </div>
            </div>

            <div class="pharagrap ">
                <p>Producto eco-amigable con menor uso de madera en su estructura lo que disminuye su impacto ambiental y facilita
                    procesos de reciclaje; como característica principal es un producto de bajo peso y que reduce la cantidad de espacio
                    requerido para almacenamiento; como elemento a considerar su estructura de cartón requiere complementar el
                    producto con plástico.</p>
            </div>

        </div>

    </ng-template>

    <ng-template #noCajas>
        <h3>No hay productos de la familia cajas</h3>
    </ng-template>
        

</main>
