<main>
    <div class="container title-products">
        <h3>FAMILIA DE <b>ESTIBAS</b></h3> 
    </div>

    <div class="container direction">

        <div class="card">
            <a href="#"><img src="./images/Estiba.jpg" alt=""></a>
            <h4>Estiba</h4>
        </div>
        
        <div class="card">
            <a href="#"><img src="./images/Family-estibas/Sin marco.jpg" alt=""></a>
            <h4>Base Y Tapa Sin Marco</h4>
        </div>
        
        <div class="card">
            <a href="#"><img src="./images/Family-estibas/Base y tpa con base.jpg" alt=""></a>
            <h4>Base Y Tapa Con Marco</h4>
        </div>

        <div class="pharagrap ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas rerum, accusantium laboriosam, perspiciatis amet aspernatur tenetur molestias, asperiores veniam cupiditate corrupti quos! Rerum cumque minus, earum saepe praesentium reiciendis ducimus tenetur error optio nesciunt veniam laborum ipsam distinctio provident ut beatae soluta sapiente cum nihil similique nemo? Libero explicabo id reprehenderit quia hic tempore reiciendis labore dolor corporis, totam consequatur unde aliquid commodi .</p>
        </div>
    </div>

    <div class="container title-products">
        <h3>FAMILIA DE <b>HUACALES</b></h3> 
    </div>

    <div class="container direction">

        <div class="card">
            <a href="#"><img src="./images/Family-huacales/Jaula.jpg" alt=""></a>
            <h4>Huacal Tipo Jaula</h4>
        </div>
        
        <div class="card">
            <a href="#"><img src="./images/Family-huacales/Jaula con auxiliares.jpg" alt=""></a>
            <h4>Huacal Con Auxiliares</h4>
        </div>
        
        <div class="card">
            <a href="#"><img src="./images/Family-huacales/Juala con abrazaderas.jpg" alt=""></a>
            <h4>Huacal Con Abrazaderas</h4>
        </div>

        

        <div class="pharagrap ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas rerum, accusantium laboriosam, perspiciatis amet aspernatur tenetur molestias, asperiores veniam cupiditate corrupti quos! Rerum cumque minus, earum saepe praesentium reiciendis ducimus tenetur error optio nesciunt veniam laborum ipsam distinctio provident ut beatae soluta sapiente cum nihil similique nemo? Libero explicabo id reprehenderit quia hic tempore reiciendis labore dolor corporis, totam consequatur unde aliquid commodi .</p>
        </div>
         
    </div>

    <div class="container title-products">
        <h3 id="productos">FAMILIA DE <b>CAJAS</b></h3> 
    </div>

    <div class="container direction">

        <div class="card">
            <a href="#"><img src="./images/Family-cajas/Esti enbalada.jpg" alt=""></a>
            <h4>Caja Embalada</h4>
        </div>
        
        <div class="card">
            <a href="#"><img src="./images/Family-cajas/caja plegable.jpg" alt=""></a>
            <h4>Caja Plegable</h4>
        </div>
        
        <div class="card">
            <a href="#"><img src="./images/CajaEstibaCartonn.jpg" alt=""></a>
            <h4>Caja Estiba carton</h4>>
        </div>

        <div class="pharagrap ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas rerum, accusantium laboriosam, perspiciatis amet aspernatur tenetur molestias, asperiores veniam cupiditate corrupti quos! Rerum cumque minus, earum saepe praesentium reiciendis ducimus tenetur error optio nesciunt veniam laborum ipsam distinctio provident ut beatae soluta sapiente cum nihil similique nemo? Libero explicabo id reprehenderit quia hic tempore reiciendis labore dolor corporis, totam consequatur unde aliquid commodi .</p>
        </div>
        
    </div>        

</main>
