<header>
    <div class="bg-color">
        <div>
            <img class="logo-superior" src="../../../assets/images/Logo.jpeg" alt="logo-header">
        </div>
        <nav>
            <ul class="menu-principal">
                <li><a routerLink="" class="menu-item">Inicio</a></li>
                <li><a routerLink="nosotros" class="menu-item">Nosotros</a></li>
                <li><a routerLink="productos" class="menu-item">Productos</a></li>
                <li><a routerLink="preguntas" class="menu-item">Preguntas frecuentes</a></li>
            </ul>
        </nav>
    </div>
</header>
