<main>
        
    <div class=" background-img"> 
         <div class=" container element-father">
             <div class="content">
                 <h1 class="styled-h1"> <b>Mas de 30 Años</b> de experiencia en empaques y enbalajes para exportacion</h1>
                 <div class="barrita"></div>
                  
                 <p class="p-styled">Sus mercancias en buenas manos</p>
                 <!-- <button><a href="#">Productos</a></button> -->
                 <!-- <a routerLink="productos" class="buttom-products" >Productos</a> -->
                 <a href="#" class="btn-flip" data-back="Ver mas" data-front="Productos"></a>
             </div>
         </div>    
   </div>
      
 <div class="title-h3">
     <h3><b>PRODUCTOS</b> ESTRELLA</h3> 
 </div>
            

 <ng-container *ngIf="cards && cards.length > 0; then cardList; else noCard"></ng-container>

 <ng-template #cardList>
 
        <div class="container direction" >

            <div class="card" *ngFor="let product of cards">
                <a routerLink="productos"><img src="./images/Estiba.jpg" alt=""></a>
                 <h4>{{product.name}}</h4>
                 <p>{{product.description}}</p>
                <a routerLink="#productos" class="buttom-card-products" >Ver mas </a>
            </div>

        </div>    
 </ng-template>
 <ng-template #noCard>
    <h3>No hay productos estrella</h3>
 </ng-template>
  
     
     
     <br>

     <div class="container">
         <h3 class="title-h3">NUESTROS <b>CLIENTES</b></h3> 

         <div class="client-content">
             <img src="./images/Canpack.png" alt="" class="client-img">
             <img src="./images/Flowserve.png" alt="" class="client-img">
             <img src="./images/pharmetiqueeeee.png" alt="" class="client-img">
         </div>
     </div>
</main>
