<main>
        
    <div class=" background-img"> 
         <div class=" container element-father">
             <div class="content">
                 <h1 class="styled-h1"> <b>Mas de 30 Años</b> de experiencia en empaques y enbalajes para exportacion</h1>
                 <div class="barrita"></div>
                  
                 <p class="p-styled">Sus mercancias en buenas manos</p>
                 <!-- <button><a href="#">Productos</a></button> -->
                 <!-- <a routerLink="productos" class="buttom-products" >Productos</a> -->
                 <a href="#" class="btn-flip" data-back="Ver mas" data-front="Productos"></a>
             </div>
         </div>    
   </div>
      
 <div class="title-h3">
     <h3><b>PRODUCTOS</b> ESTRELLA</h3> 
 </div>
            
   <div class="container direction">

     <div class="card">
         <a routerLink="productos"><img src="./images/Estiba.jpg" alt=""></a>
          <h4>Estiba</h4>
          <p>Empaque de gran versatilidad, permite el transporte agil, confiable y eficiente de aquellos productos que no requieran necesidades especiales de protección. Ideales igualmente para actividades de bodegaje.</p>
         <a routerLink="#productos" class="buttom-card-products" >Ver mas </a>
     </div>
     
     <div class="card">
         <a routerLink="productos"><img src="./images/Huacaltipojaula.jpg" alt=""></a>
         <h4>Huacal tipo jaula</h4>
         <p>Cuando su producto requiera maxima protección; su estructura de integra de madera garantiza protección extra, ademas de soportar condiciones de manejo desfavorables tales como golpes y caidas de baja altura.
         </p>
         <a routerLink="productos" class="buttom-card-products" >Ver mas </a>
     </div>
     
     <div class="card">
         <a routerLink="productos"><img src="./images/CajaEstibaCartonn.jpg" alt=""></a>
         <h4>Caja Estiba carton</h4>
         <p>Gracias a su estructura y tapa de carton, complementado con la estiba, este empaque es ideal para proteger sus mercancias del sol, el polvo y los golpes moderados; Así, sus mercancias viajaran mas seguras.</p>
         <a routerLink="productos" class="buttom-card-products" >Ver mas </a>
     </div>
 </div>
  
     
     
     <br>

     <div class="container">
         <h3 class="title-h3">NUESTROS <b>CLIENTES</b></h3> 

         <div class="client-content">
             <img src="./images/Canpack.png" alt="" class="client-img">
             <img src="./images/Flowserve.png" alt="" class="client-img">
             <img src="./images/pharmetiqueeeee.png" alt="" class="client-img">
         </div>
     </div>
</main>
