body {
    margin:  0;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Martel', serif;
    font-family: 'Montserrat', sans-serif;
}
.container{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
}
h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'Martel', serif;
  font-family: 'Montserrat', sans-serif;
}
.container{
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}

.titulo {
  width: 100%;
  font-size: 3.2rem;
  text-align: center;
}

