<footer>
  <div class="container-footer">
      <div class="footer-right">
         <img class="logo-inferior"  src="../../../assets/images/Logo mudar.png" alt="logo-footer">
         <div class="container-contact">
          <a> <img src="../../../assets/images/location.png" alt="ubicacion" > Carrera 2 este # 16-84 Madrid (Cundinamarca) </a>
          <a> <img src="../../../assets/images/phone.png" alt="telefono" > +57 1 8256097 </a>
          <a> <img src="../../../assets/images/email.png" alt="email"  > info@mudarcolombia.com </a>
         </div>    
      </div>
     
      <div class="footer-left">
          <a href=""class="personal-data">Politica de tratamiento datos pesonales</a>
          <ul class="social-media">
            <a> <img src="../../../assets/images/facebook.png" alt="facebook"></a>
            <a> <img src="../../../assets/images/instagram.png" alt="instagram"></a>
            <a> <img src="../../../assets/images/linkedin.png" alt="linkedin"></a>
          </ul>
      </div>
  </div>
</footer>
